<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>Number Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='d3.min.js')}}"></script>

    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- header -->
        <h1><a href="/">Number Prediction</a></h1>

        <!-- content -->
        <div class="row" style="padding:0 0 0 0">
            <div class="col-md-7">
              <p> 4-Layer CNN(trained with <a href="http://yann.lecun.com/exdb/mnist/">MNIST</a> DATA) Classify Digit Number(0-9)</p>
                <p> Draw a Nunmber Here !</p>
                <button type="button" onClick ="newNumber()" class="btn btn-default">new number</button>
                <p></p>
                <div id="prediction" align="center"></div>
                <div id="grid" align="center"></div>
            </div>
            <div class="col-md-5">
                <p>Input: </p>
                <div id="input" line-height=0.5></div>
                <hr>
                <div class="col-sm-6">
                    <p>Output: </p>
                    <table id="output" class="table">
                        <tr>
                            <th class="col-md-1">Number</th>
                            <th class="col-md-2">Score</th>
                        </tr>
                        {% for i in range(10) %}
                        <tr>
                            <th>{% print (i) %}</th>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-sm-6">
                    <p>Graph: </p>
                    <div id="bar"></div>
                </div>
            </div>
        </div>
        <hr>
        <!-- footer -->
        <p>&copy; Masahiro Rikiso</p>
    </div>

    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>
